<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SIS</display-name>
  <servlet>
    <servlet-name>fd</servlet-name>
    <servlet-class>servletdb.Servletdb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fd</servlet-name>
    <url-pattern>/db</url-pattern>
  </servlet-mapping>
 <servlet>
    <servlet-name>reg</servlet-name>
    <servlet-class>servletdb.Registeration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reg</servlet-name>
    <url-pattern>/reg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>subreg</servlet-name>
    <servlet-class>servletdb.SubAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>subreg</servlet-name>
    <url-pattern>/subreg</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>FeeAdd</servlet-name>
    <servlet-class>servletdb.FeeEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeeAdd</servlet-name>
    <url-pattern>/fee</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>GradeAdd</servlet-name>
    <servlet-class>servletdb.GradeAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GradeAdd</servlet-name>
    <url-pattern>/GradeAdd</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>AttendAdd</servlet-name>
    <servlet-class>servletdb.AttendAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttendAdd</servlet-name>
    <url-pattern>/AttendAdd</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>SubAdd</servlet-name>
    <servlet-class>servletdb.SubAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubAdd</servlet-name>
    <url-pattern>/SubAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Assigns</servlet-name>
    <servlet-class>servletdb.Assigns</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Assigns</servlet-name>
    <url-pattern>/Assigns</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Sched</servlet-name>
    <servlet-class>servletdb.SchDef</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sched</servlet-name>
    <url-pattern>/Sched</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>News</servlet-name>
    <servlet-class>servletdb.createNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>News</servlet-name>
    <url-pattern>/News</url-pattern>
  </servlet-mapping>  
  <servlet>
    <servlet-name>Msg</servlet-name>
    <servlet-class>servletdb.sendMsg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Msg</servlet-name>
    <url-pattern>/Msg</url-pattern>
  </servlet-mapping>  
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>